.menu{
    ul{
        margin: 0;
        padding: 1em;
    }
    border-bottom: 1px solid #444;
    li{
        display: inline-block;
        margin-right: 1em;
        &:last-of-type{
            margin-right: 0;
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.add-item{
    text-align: right;
    .button{
        margin: 1em 0 0 0;
    }
}

.hidden{
    display: none;
}

table{
    width: 100%;
    tr.alert{
        background: #f1bfbf;
    }
    .options{
        ul{
            margin: 0;
            list-style-type: none;
            li{
                margin-right: 1rem;
                &:last-of-type{
                    margin-right: 0;
                }
            }
        }
    }
}

.warning{
    background: $alert-color;
    color: #fff;
    padding: 1em;
}

.alert{
    color: $alert-color;
}
