<div class="row">
  <div class="small-12 columns">
    <h1>Add Group</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">

    <div id="existing" class="hidden">
      <% if(group.id != 0){ %>
        <%= group.id %>
      <% } else { %>
        0
      <% } %>
    </div>

    <form id="add-group">
      <div class="row">

          <div class="small-8 column">
            <label for="name">Employee Type</label>
            <input type="text" id="group-name" name="emp_type" value="<%= group.emp_type %>" />
            <div class="error-container name"></div>
          </div>

          <div class="small-4 column">
            <label for="level">Level</label>
            <select id="group-level" name="emp_level" class="level-select">
              <% for(i=1;i<5;i++){ %>
                <% if(group.emp_level === i){ %>
                  <option value="<%= i %>" selected="selected"><%= i %></option>
                <% } else { %>
                  <option value="<%= i %>"><%= i %></option>
                <% } %>
              <% } %>
            </select>
            <div class="error-container level"></div>
          </div>

        </div>

        <div class="row">

          <div class="small-12 column">
            <label for="hours-low">Hours Low</label>
            <input type="text" id="group-hours-low" name="hours_low" value="<%= group.hours_low %>" />
            <div class="error-container hours-low"></div>
          </div>

          <div class="small-12 column">
            <label for="hours-high">Hours High</label>
            <input type="text" id="group-hours-high" name="hours_high" value="<%= group.hours_high %>" />
            <div class="error-container hours-high"></div>
          </div>

        </div>

      </div>
    </form>

    <div class="row">

      <div class="small-12 columns">
        <button class="button small success" id="new-group">
          <i class="fa fa-save save"></i> Save Group
        </button
      </div>

      <div class="general-error"></div>

    </div>

  </div>
</div>
