<div class="row">
  <div class="small-12 columns">
    <h1>Add Audit</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">

    <div id="existing" class="hidden">
      <% if(audit.id != 0){ %>
        <%= audit.id %>
      <% } else { %>
        0
      <% } %>
    </div>

    <form id="add-group">
      <div class="row">

          <div class="small-8 column">
            <label for="inst-name">Institution Name</label>
            <input type="text" id="inst-name" name="inst_name" value="<%= audit.inst_name %>" />
            <div class="error-container name"></div>
          </div>

          <div class="small-4 column">
            <label for="date">Audit start date</label>
            <input type="text" id="audit-date" name="audit_date" value="<%= audit.audit_date %>" />
            <div class="error-container date"></div>
          </div>

        </div>

        <div class="row">

          <div class="small-12 column">
            <label for="emp-type">Employee Type</label>
            <div id="type-id" class="hidden"><%= audit.emp_type_id %></div>
            <select id="emp-type" name="emp_type">

            </select>
            <div class="error-container emp-type"></div>
          </div>

          <div class="small-12 column">
            <label for="risk-rating">Risk Rating</label>
            <select id="risk-rating"  name="risk_rating">
                <option value="low" <% if(audit.risk_rating === "low"){ %> selected="selected" <% } %>>Low</option>
                <option value="limited" <% if(audit.risk_rating === "limited"){ %> selected="selected" <% } %>>Limited</option>
                <option value="moderate" <% if(audit.risk_rating === "moderate"){ %> selected="selected" <% } %>>Moderate</option>
                <option value="considerable" <% if(audit.risk_rating === "considerable"){ %> selected="selected" <% } %>>Considerable</option>
                <option value="high" <% if(audit.risk_rating === "high"){ %> selected="selected" <% } %>>High</option>
            </select>
            <div class="error-container risk_rating"></div>
          </div>

          <div class="small-12 column">
            <label for="offsite-hours">Offsite Hours</label>
            <input type="text" id="offsite-hours" name="offsite_hours" value="<%= audit.offsite_hours %>" />
            <div class="error-container offsite-hours"></div>
          </div>

          <div class="small-12 column">
            <label for="hours-high">Onsite Hours</label>
            <input type="text" id="onsite-hours" name="onsite" value="<%= audit.onsite_hours %>" />
            <div class="error-container onsite-hours"></div>
          </div>

        </div>

      </div>
    </form>

    <div class="row">

      <div class="small-12 columns">
        <button class="button small success" id="new-audit">
          <i class="fa fa-save save"></i> Save Audit
        </button
      </div>

      <div class="general-error"></div>

    </div>

  </div>
</div>
