<div class="row">
  <div class="small-12 columns">
    <h1>Oops!</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">

    <p>Something went wrong</p>

    <p>Error: <%= error %></p>

  </div>
</div>
