<div class="row">

  <div class="small-6 columns">
    <h1>Groups</h1>
  </div>

  <div class="small-6 columns add-item">
    <a href="groups/add" class="button new-group small success">
      New Group
    </a>
  </div>

</div>

<div class="row">
  <div class="small-12 columns">

    <table>
      <thead>
        <tr>
          <th>
            Employee Type
          </th>
          <th>
            Level
          </th>
          <th>
            Hours (low)
          </th>
          <th>
            Hours (high)
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>

        <% _.each(groups, function(group){ %>

          <tr>

            <td>
              <%= group.emp_type %>
            </td>

            <td>
              <%= group.emp_level %>
            </td>

            <td>
              <%= group.hours_low %>
            </td>

            <td>
              <%= group.hours_high %>
            </td>

            <td class="options">
              <ul>
                <li>
                  <a href="groups/edit/<%= group.id %>">
                    <i class="edit fa fa-pencil-square-o"></i>
                  </a>
                </li>
                <li>
                  <a href="groups/confirm/<%= group.id %>">
                    <i class="delete fa fa-trash-o"></i>
                  </a>
                </li>
              </ul>
            </td>

          </tr>

        <% }); %>

      </tbody>
    </table>

  </div>
</div>
