<div class="row">

  <div class="small-6 columns">
    <h1>Recent Audits</h1>
  </div>

  <div class="small-6 columns add-item">
    <a href="audits/add" class="button new-audit small success">
      <i class="fa fa-plus-circle"></i> New Item
    </a>
  </div>

</div>

<div class="row">
  <div class="small-12 columns">

    <table>
      <thead>
        <tr>
          <th>
            Institution Name
          </th>
          <th>
            Audit Date
          </th>
          <th>
            Employee Title
          </th>
          <th>
            Employee Group
          </th>
          <th>
            Risk Rating
          </th>
          <th>
            Offsite Hours
          </th>
          <th>
            Onsite Hours
          </th>
          <th>
            Total Hours
          </th>
          </th>
          <th>
            Witin Range
          </th>
          <th>
            Hours Over
          </th>
          <th>
            Hours Under
          </th>

          <th>
          </th>
        </tr>
      </thead>
      <tbody>

        <% _.each(audits, function(audit){ %>

          <tr>

            <td class="inst-name">
              <%= audit.inst_name %>
            </td>

            <td>
              <%= audit.audit_date %>
            </td>

            <td class="check-for-errors">
              <%= audit.emp_group %>
            </td>

            <td class="check-for-errors">
              <%= audit.emp_level %>
            </td>

            <td>
              <%= audit.risk_rating %>
            </td>

            <td class="check-for-errors">
              <%= audit.offsite_hours %>
            </td>

            <td class="check-for-errors">
              <%= audit.onsite_hours %>
            </td>

            <td class="check-for-errors">
              <%= audit.total_hours %>
            </td>

            <td class="check-for-errors">
              <%= audit.in_range %>
            </td>

            <td class="check-for-errors">
              <%= audit.hours_over %>
            </td>

            <td class="check-for-errors">
              <%= audit.hours_under %>
            </td>

            <td class="options">
              <ul>
                <li>
                  <a href="audits/edit/<%= audit.id %>">
                    <i class="edit fa fa-pencil-square-o"></i>
                  </a>
                </li>
                <li>
                  <a href="audits/confirm/<%= audit.id %>">
                    <i class="delete fa fa-trash-o"></i>
                  </a>
                </li>
              </ul>
            </td>

          </tr>

        <% }); %>

      </tbody>
    </table>

  </div>

  <div class="row">
      <div class="small-12 columns">

        <div class="chart">

        </div>

      </div>
  </div>
</div>
