<div class="row">
  <div class="small-12 columns">
    <h1>Remove Group</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <p class="warning"><i class="fa fa-warning"></i> Are you sure you want to remove this group? If you do, all records that have this group associated with them will have to be corrected before they will work properly.</p>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">

    <form id="add-group">
      <div class="row">

          <div class="small-8 column">
            <label for="name">Employee Type</label>
            <p class="box"><%= group.emp_type %></p>
          </div>

          <div class="small-4 column">
            <label for="level">Level</label>
            <p class="box"><%= group.emp_level %></p>
          </div>

        </div>

        <div class="row">

          <div class="small-12 column">
            <label for="hours-low">Hours Low</label>
            <p class="box"><%= group.hours_low %></p>
            <div class="error-container hours-low"></div>
          </div>

          <div class="small-12 column">
            <label for="hours-high">Hours High</label>
            <p class="box"><%= group.hours_high %></p>
          </div>

        </div>

      </div>
    </form>

    <div class="row">

      <div class="small-12 columns">
        <button class="button" id="remove-group" data-id="<%= group.id %>">
          <i class="fa fa-trash-o delete"></i> Confirm Group Removal
        </button
      </div>

      <div class="general-error"></div>

    </div>

  </div>
</div>
