<div class="row">
  <div class="small-12 columns">
    <h1>Remove Audit</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <p class="warning">Are you sure you want to remove this audit?</p>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">

      <div class="row">

          <div class="small-8 column">
            <label for="inst-name">Institution Name</label>
            <p><%= audit.inst_name %></p>
          </div>

          <div class="small-4 column">
            <label for="date">Audit start date</label>
            <p><%= audit.audit_date %></p>
          </div>

        </div>

        <div class="row">

          <div class="small-12 column">
            <label for="emp-type">Employee Type</label>
            <%= audit.emp_group %><%= audit.emp_level %>
          </div>

          <div class="small-12 column">
            <label for="offsite-hours">Offsite Hours</label>
            <p><%= audit.offsite_hours %></p>
          </div>

          <div class="small-12 column">
            <label for="hours-high">Onsite Hours</label>
            <p><%= audit.onsite_hours %></p>
          </div>

        </div>

      </div>

    <div class="row">

      <div class="small-12 columns">
        <button class="button alert" id="remove-audit" data-id="<%= audit.id %>">
          <i class="fa fa-trash-o delete"></i> Confirm Audit Removal
        </button>
        <a href="/" class="button">
            Cancel
        </a>
      </div>

      <div class="general-error"></div>

    </div>

  </div>
</div>
